<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Songs List</title>
</head>
<body>
    <h1>Songs list</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Record Label</th>
        </tr>
        <tr th:each="song : ${songs}">
            <td th:text="${song.id}">1</td>
            <td th:text="${song.title}">A song title</td>
            <td th:text="${song.genre}">Song genre</td>
            <td th:text="${song.year}">1999</td>
            <td th:text="${song.recordLabel.name}">Record Label</td>
        </tr>
    </table>

</body>
</html>